<style>
  .footer-main{
      {%  if section.settings.footer_background != blank  %}
        background-image: url('{{ section.settings.footer_background |  img_url: 'original' }}');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        {% else %}
            background-color: #20231C;
        {% endif %}

  }
</style>

<div class="footer-main">
  <div class="container">
    <div class="footer-wrapper">
      <div class="footer-top">
        {% for block in section.blocks %}
          {% if block.type == 'social_icons' %}
            <div class="footer-about-block">
              <div class="footer-block-header">
                {% if block.settings.heading != blank %}
                  <h3>{{ block.settings.heading }}</h3>
                {% endif %}
              </div>
              <div class="footer-social-icon-list">
                {% if block.settings.show_twitter %}
                  <a href="{{ block.settings.twitter_link }}">
                    <div class="social-icon-svg">
                      <svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M21.521 2.30549C20.7554 2.64549 19.933 2.87429 19.0698 2.97749C19.9514 2.44949 20.6274 1.61349 20.9458 0.616688C20.1218 1.10549 19.2082 1.46069 18.2354 1.65269C17.457 0.823088 16.3482 0.304688 15.121 0.304688C12.7642 0.304688 10.8538 2.21589 10.8538 4.57189C10.8538 4.90629 10.8922 5.23269 10.9642 5.54389C7.41782 5.36629 4.27381 3.66709 2.16821 1.08469C1.80181 1.71509 1.59141 2.44789 1.59141 3.23109C1.59141 4.71109 2.34421 6.01749 3.48901 6.78229C2.78981 6.75989 2.13141 6.56789 1.55621 6.24869C1.55621 6.26709 1.55621 6.28389 1.55621 6.30229C1.55621 8.37029 3.02661 10.0951 4.97941 10.4863C4.62181 10.5839 4.24421 10.6359 3.85461 10.6359C3.58021 10.6359 3.31221 10.6087 3.05221 10.5599C3.59541 12.2551 5.17141 13.4895 7.03862 13.5239C5.57862 14.6687 3.73862 15.3511 1.73861 15.3511C1.39461 15.3511 1.05461 15.3311 0.720215 15.2911C2.60901 16.5015 4.85142 17.2079 7.26182 17.2079C15.1114 17.2079 19.4026 10.7055 19.4026 5.06629C19.4026 4.88149 19.3986 4.69749 19.3906 4.51429C20.225 3.91189 20.949 3.16069 21.521 2.30549Z" fill="white"/>
                      </svg>
                    </div>
                  </a>
                {% endif %}
                {% if block.settings.show_insta %}
                  <a href="{{ block.settings.insta_link }}">
                    <div class="social-icon-svg">
                      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.11943 0.15625C3.03223 0.15625 0.520996 2.66981 0.520996 5.75781V13.7578C0.520996 16.845 3.03456 19.3563 6.12256 19.3563H14.1226C17.2098 19.3563 19.721 16.8427 19.721 13.7547V5.75469C19.721 2.66749 17.2074 0.15625 14.1194 0.15625H6.11943ZM15.721 3.35625C16.1626 3.35625 16.521 3.71465 16.521 4.15625C16.521 4.59785 16.1626 4.95625 15.721 4.95625C15.2794 4.95625 14.921 4.59785 14.921 4.15625C14.921 3.71465 15.2794 3.35625 15.721 3.35625ZM10.121 4.95625C12.7682 4.95625 14.921 7.10905 14.921 9.75625C14.921 12.4035 12.7682 14.5563 10.121 14.5563C7.4738 14.5563 5.321 12.4035 5.321 9.75625C5.321 7.10905 7.4738 4.95625 10.121 4.95625ZM10.121 6.55625C9.2723 6.55625 8.45837 6.89339 7.85825 7.49351C7.25814 8.09362 6.921 8.90756 6.921 9.75625C6.921 10.6049 7.25814 11.4189 7.85825 12.019C8.45837 12.6191 9.2723 12.9563 10.121 12.9563C10.9697 12.9563 11.7836 12.6191 12.3837 12.019C12.9839 11.4189 13.321 10.6049 13.321 9.75625C13.321 8.90756 12.9839 8.09362 12.3837 7.49351C11.7836 6.89339 10.9697 6.55625 10.121 6.55625Z" fill="white"/>
                      </svg>
                    </div>
                  </a>
                {% endif %}
                {% if block.settings.show_youtube %}
                  <a href="{{ block.settings.youtube_link }}">
                    <div class="social-icon-svg">
                      <svg width="22" height="19" viewBox="0 0 22 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.1202 0.956055C7.77141 0.956055 3.4249 1.79512 3.4249 1.79512L3.41396 1.80762C1.88875 2.05155 0.720215 3.36215 0.720215 4.95606V9.75606V9.75762V14.5561V14.5576C0.721703 15.3188 0.994511 16.0546 1.48965 16.6328C1.9848 17.211 2.66984 17.5937 3.42178 17.7123L3.4249 17.717C3.4249 17.717 7.77141 18.5576 11.1202 18.5576C14.469 18.5576 18.8155 17.717 18.8155 17.717L18.8171 17.7154C19.5698 17.5971 20.2557 17.2141 20.7512 16.6352C21.2467 16.0563 21.5194 15.3196 21.5202 14.5576V14.5561V9.75762V9.75606V4.95606C21.5191 4.19456 21.2465 3.45842 20.7513 2.8799C20.2561 2.30139 19.5709 1.91842 18.8187 1.7998L18.8155 1.79512C18.8155 1.79512 14.469 0.956055 11.1202 0.956055ZM8.72021 6.07481L15.1202 9.75606L8.72021 13.4373V6.07481Z" fill="white"/>
                      </svg>
                    </div>
                  </a>
                {% endif %}
              </div>
            </div>
          {% endif %}
          {% if block.type == 'menu_list' %}
            <div class="footer-menu-block">
              <div class="footer-block-header">
                {% if block.settings.heading != blank %}
                  <h3>{{ block.settings.heading }}</h3>
                {% endif %}
              </div>
              <div class="footer-menu-wrapper">
                {% if block.settings.menu != blank %}
                  <ul class="footer-menu">
                    {% for link in linklists[block.settings.menu].links %}
                      <li class="footer-menu__item">
                        <a href="{{ link.url }}" class="footer-menu__link">
                          {{ link.title }}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </div>
            </div>
          {% endif %}
          {% if block.type == 'contact_info' %}
            <div class="footer-contact-block">
              <div class="footer-block-header">
                {% if block.settings.heading != blank %}
                  <h3>{{ block.settings.heading }}</h3>
                {% endif %}
              </div>
              <div class="footer-call-wrapper">
                <div class="footer-contact-header">
                  {% if block.settings.phone_heading != blank %}
                    <h4>{{ block.settings.phone_heading }}</h4>
                  {% endif %}
                </div>
                {% if block.settings.phone_no != blank %}
                  <a href="tel:{{ block.settings.phone_no }}">{{ block.settings.phone_no }}</a>
                {% endif %}
              </div>
              <div class="footer-mail-wrapper">
                <div class="footer-contact-header">
                  {% if block.settings.email_heading != blank %}
                    <h4>{{ block.settings.email_heading }}</h4>
                  {% endif %}
                </div>
                {% if block.settings.email_id != blank %}
                  <a href="mailto:{{ block.settings.email_id }}">{{ block.settings.email_id }}</a>
                {% endif %}
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <div class="footer-bottom">
        <div class="footer-logo-wrapper">
          <div class="footer-svg">
            <a href="{{ shop.url }}">
              <svg width="52" height="24" viewBox="0 0 52 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.2554 10.6509C13.2615 7.83503 13.3731 3.74335 13.3731 3.74335H11.088C11.088 6.07488 10.4784 7.96165 9.82149 8.96625C7.71846 7.30961 5.89208 7.08927 5.89208 7.08927V0H3.64542V7.086C1.70234 7.17904 0 8.76875 0 10.7167C0 12.6647 1.67051 14.3744 3.64542 14.5213V18.4385H5.88963V14.4225C5.88963 14.4225 8.43416 13.8807 9.88841 12.2069C10.7216 13.1225 11.8511 15.1848 12.8393 18.445H15.1521C15.1521 18.445 13.6662 13.3232 11.2554 10.6509ZM2.03693 10.72C2.03693 11.5467 2.69142 12.3473 3.64542 12.4533V9.0756C2.73386 9.11885 2.03693 9.89331 2.03693 10.72ZM5.88963 9.15721V12.3473C5.88963 12.3473 7.79517 11.8119 8.72223 10.6449C7.77477 9.57993 5.88963 9.15721 5.88963 9.15721ZM45.3654 13.4629L46.6785 12.6321L47.5966 14.3989L45.363 15.7708C45.363 20.4656 44.1886 24.1241 40.6297 23.9968C39.0531 23.9397 37.292 22.6413 37.292 20.6982C37.292 17.8591 40.256 16.2686 40.256 16.2686L43.0616 14.4732V3.7434H45.3654V13.4629ZM39.4978 20.4159C39.4978 21.1601 39.8545 21.9762 40.9774 21.9762C42.0081 21.9762 43.1269 20.7815 43.1269 16.9141C43.1269 16.9141 39.4978 18.8131 39.4978 20.4159ZM14.7796 11.033C14.7796 6.29974 17.7175 3.59608 20.5819 3.58873C23.479 3.58057 26.385 6.29729 26.385 11.033C26.385 15.8813 23.479 18.6086 20.5819 18.6086C17.7199 18.6086 14.7796 15.8813 14.7796 11.033ZM24.0233 10.9922C24.0233 7.03013 22.1284 5.78317 20.586 5.78317C19.0436 5.78317 17.1487 7.03013 17.1487 10.9922C17.1487 15.1044 19.0362 16.4868 20.586 16.4868C22.1357 16.4868 24.0233 14.7829 24.0233 10.9922ZM48.767 3.7434H51.0716V18.445H48.767V3.7434ZM48.5908 1.36904C48.5908 0.60193 49.1058 0.00292969 49.9937 0.00292969C50.8815 0.00292969 51.359 0.60193 51.359 1.36904C51.359 2.13616 50.8432 2.75637 49.9937 2.75637C49.1441 2.75637 48.5908 2.13371 48.5908 1.36904ZM33.5463 3.58889C30.681 3.59623 27.7432 6.29989 27.7432 11.0331C27.7432 15.8815 30.6843 18.6088 33.5463 18.6088C36.4434 18.6088 39.3494 15.8815 39.3494 11.0331C39.3494 6.29745 36.4434 3.58072 33.5463 3.58889ZM33.5504 5.78332C35.0919 5.78332 36.9869 7.03028 36.9869 10.9923C36.9869 14.783 35.1001 16.487 33.5504 16.487C32.0006 16.487 30.1131 15.1046 30.1131 10.9923C30.1131 7.03028 32.0088 5.78332 33.5504 5.78332Z" fill="white"/>
              </svg>
            </a>
          </div>
        </div>
        {% if section.settings.copiright_Text != blank %}
          <div class="copyright-wrapper">
            <p>{{ section.settings.copiright_Text }}</p>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Footer",
  "limit": 1,
  "settings": [
    {
      "type": "image_picker",
      "id": "footer_background",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "copiright_Text",
      "label": "Copiright text",
      "default": "2024, Kooji All rights reserved"
    }
  ],
  "max_blocks": 5,
  "blocks": [
    {
      "name": "Social Icons",
      "type": "social_icons",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "We scentastic on social!"
        },
        {
          "type": "checkbox",
          "id": "show_twitter",
          "label": "Show twiter",
          "default": true
        },
        {
          "type": "url",
          "id": "twitter_link",
          "label": "Button link",
          "default": "/collections/all"
        },
        {
          "type": "checkbox",
          "id": "show_insta",
          "label": "Show Instagram",
          "default": true
        },
        {
          "type": "url",
          "id": "insta_link",
          "label": "Instagram link",
          "default": "/collections/all"
        },
        {
          "type": "checkbox",
          "id": "show_youtube",
          "label": "Show announcement",
          "default": true
        },
        {
          "type": "url",
          "id": "youtube_link",
          "label": "Youtube link",
          "default": "/collections/all"
        }
      ]
    },
    {
      "name": "Manu list",
      "type": "menu_list",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Kooji"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu"
        }
      ]
    },
    {
      "name": "Contact Info",
      "type": "contact_info",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Get in touch"
        },
        {
          "type": "header",
          "content": "Phone info"
        },
        {
          "type": "text",
          "id": "phone_heading",
          "label": "Phone heading",
          "default": "Call us"
        },
        {
          "type": "text",
          "id": "phone_no",
          "label": "Heading",
          "default": "+91 12344 55678"
        },
        {
          "type": "header",
          "content": "Email info"
        },
        {
          "type": "text",
          "id": "email_heading",
          "label": "Email heading",
          "default": "Email"
        },
        {
          "type": "text",
          "id": "email_id",
          "label": "Email",
          "default": "support@kooji.in"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Footer",
      "settings": {},
      "blocks": [
        {
          "type": "social_icons"
        },
        {
          "type": "menu_list"
        },
        {
          "type": "menu_list"
        },
        {
          "type": "contact_info"
        }
      ]
    }
  ]
}
{% endschema %}
