<div class="main">
  <div class="top-bar mobile"></div>
  <div class="container">
    <div class="header-wrapper-custom">
      <div class="hamb-logo-wrapper">
        <div class="hamburder mobile">
          <div class="hamburder-svg">
            <svg
              width="25"
              height="25"
              viewBox="0 0 25 25"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_11_418)">
                <path
                  d="M4.32178 12.9497H20.8218"
                  stroke="white"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round" />
                <path
                  d="M4.32178 6.94971H20.8218"
                  stroke="white"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round" />
                <path
                  d="M4.32178 18.9497H20.8218"
                  stroke="white"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round" />
              </g>
              <defs>
                <clipPath id="clip0_11_418">
                  <rect
                    width="24"
                    height="24"
                    fill="white"
                    transform="translate(0.571777 0.949707)" />
                </clipPath>
              </defs>
            </svg>
          </div>
        </div>
        <div class="logo">
          <div class="logo-svg">
            <svg
              width="52"
              height="24"
              viewBox="0 0 52 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M11.2554 10.6509C13.2615 7.83503 13.3731 3.74335 13.3731 3.74335H11.088C11.088 6.07488 10.4784 7.96165 9.82149 8.96625C7.71846 7.30961 5.89208 7.08927 5.89208 7.08927V0H3.64542V7.086C1.70234 7.17904 0 8.76875 0 10.7167C0 12.6647 1.67051 14.3744 3.64542 14.5213V18.4385H5.88963V14.4225C5.88963 14.4225 8.43416 13.8807 9.88841 12.2069C10.7216 13.1225 11.8511 15.1848 12.8393 18.445H15.1521C15.1521 18.445 13.6662 13.3232 11.2554 10.6509ZM2.03693 10.72C2.03693 11.5467 2.69142 12.3473 3.64542 12.4533V9.0756C2.73386 9.11885 2.03693 9.89331 2.03693 10.72ZM5.88963 9.15721V12.3473C5.88963 12.3473 7.79517 11.8119 8.72223 10.6449C7.77477 9.57993 5.88963 9.15721 5.88963 9.15721ZM45.3654 13.4629L46.6785 12.6321L47.5966 14.3989L45.363 15.7708C45.363 20.4656 44.1886 24.1241 40.6297 23.9968C39.0531 23.9397 37.292 22.6413 37.292 20.6982C37.292 17.8591 40.256 16.2686 40.256 16.2686L43.0616 14.4732V3.7434H45.3654V13.4629ZM39.4978 20.4159C39.4978 21.1601 39.8545 21.9762 40.9774 21.9762C42.0081 21.9762 43.1269 20.7815 43.1269 16.9141C43.1269 16.9141 39.4978 18.8131 39.4978 20.4159ZM14.7796 11.033C14.7796 6.29974 17.7175 3.59608 20.5819 3.58873C23.479 3.58057 26.385 6.29729 26.385 11.033C26.385 15.8813 23.479 18.6086 20.5819 18.6086C17.7199 18.6086 14.7796 15.8813 14.7796 11.033ZM24.0233 10.9922C24.0233 7.03013 22.1284 5.78317 20.586 5.78317C19.0436 5.78317 17.1487 7.03013 17.1487 10.9922C17.1487 15.1044 19.0362 16.4868 20.586 16.4868C22.1357 16.4868 24.0233 14.7829 24.0233 10.9922ZM48.767 3.7434H51.0716V18.445H48.767V3.7434ZM48.5908 1.36904C48.5908 0.60193 49.1058 0.00292969 49.9937 0.00292969C50.8815 0.00292969 51.359 0.60193 51.359 1.36904C51.359 2.13616 50.8432 2.75637 49.9937 2.75637C49.1441 2.75637 48.5908 2.13371 48.5908 1.36904ZM33.5463 3.58889C30.681 3.59623 27.7432 6.29989 27.7432 11.0331C27.7432 15.8815 30.6843 18.6088 33.5463 18.6088C36.4434 18.6088 39.3494 15.8815 39.3494 11.0331C39.3494 6.29745 36.4434 3.58072 33.5463 3.58889ZM33.5504 5.78332C35.0919 5.78332 36.9869 7.03028 36.9869 10.9923C36.9869 14.783 35.1001 16.487 33.5504 16.487C32.0006 16.487 30.1131 15.1046 30.1131 10.9923C30.1131 7.03028 32.0088 5.78332 33.5504 5.78332Z"
                fill="white" />
            </svg>
          </div>
          <a href="{{ shop.url }}"></a>
        </div>
      </div>
      <div class="header-manu desktop">
        <div class="header-manu-wrapper">
          {% if section.settings.menu != blank %}
            {% assign main_manu = section.settings.menu %}
            {% for link in linklists[main_manu].links %}
              <div class="top-level-item {% if link.links.size > 0 %} has-submenu {% endif %}">
                <a href="{{ link.url }}">{{ link.title }}</a>
                {% if link.links.size > 0 %}
                  <div class="dropdown-svg">
                    <svg
                      width="17"
                      height="16"
                      viewBox="0 0 17 16"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <g clip-path="url(#clip0_11_558)">
                        <path
                          d="M13.6794 6L8.67944 11L3.67944 6"
                          stroke="white"
                          stroke-linecap="round"
                          stroke-linejoin="round" />
                      </g>
                      <defs>
                        <clipPath id="clip0_11_558">
                          <rect
                            width="16"
                            height="16"
                            fill="white"
                            transform="translate(0.679443)" />
                        </clipPath>
                      </defs>
                    </svg>
                  </div>
                {% endif %}

                {% if link.links.size > 0 %}
                  <div class="sub-menu">
                    {% for sublink in link.links %}
                      <div class="sub-menu-item">
                        <a href="{{ sublink.url }}">{{ sublink.title }}</a>
                      </div>
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
      <div class="header-icons-list">
        <div class="icon-search">
          <a href="/search">
            <div class="search-svg">
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_11_570)">
                  <path
                    d="M8.74902 15C12.2008 15 14.999 12.2018 14.999 8.75C14.999 5.29822 12.2008 2.5 8.74902 2.5C5.29724 2.5 2.49902 5.29822 2.49902 8.75C2.49902 12.2018 5.29724 15 8.74902 15Z"
                    stroke="white"
                    stroke-width="1.25"
                    stroke-linecap="round"
                    stroke-linejoin="round" />
                  <path
                    d="M13.1689 13.1699L17.4994 17.5004"
                    stroke="white"
                    stroke-width="1.25"
                    stroke-linecap="round"
                    stroke-linejoin="round" />
                </g>
                <defs>
                  <clipPath id="clip0_11_570">
                    <rect
                      width="20"
                      height="20"
                      fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </div>
          </a>
        </div>
        <div class="icon-cart">
          <a href="/cart">
            <div class="cart-svg">
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_11_574)">
                  <path
                    d="M14.6877 14.375H7.1229C6.83017 14.375 6.54673 14.2722 6.32201 14.0846C6.09729 13.897 5.94554 13.6365 5.89321 13.3484L3.80728 1.875H1.87524"
                    stroke="white"
                    stroke-width="1.25"
                    stroke-linecap="round"
                    stroke-linejoin="round" />
                  <path
                    d="M7.18774 17.5C8.05069 17.5 8.75024 16.8004 8.75024 15.9375C8.75024 15.0746 8.05069 14.375 7.18774 14.375C6.3248 14.375 5.62524 15.0746 5.62524 15.9375C5.62524 16.8004 6.3248 17.5 7.18774 17.5Z"
                    stroke="white"
                    stroke-width="1.25"
                    stroke-linecap="round"
                    stroke-linejoin="round" />
                  <path
                    d="M14.6877 17.5C15.5507 17.5 16.2502 16.8004 16.2502 15.9375C16.2502 15.0746 15.5507 14.375 14.6877 14.375C13.8248 14.375 13.1252 15.0746 13.1252 15.9375C13.1252 16.8004 13.8248 17.5 14.6877 17.5Z"
                    stroke="white"
                    stroke-width="1.25"
                    stroke-linecap="round"
                    stroke-linejoin="round" />
                  <path
                    d="M5.51196 11.25H15.3206C15.6133 11.25 15.8967 11.1472 16.1214 10.9596C16.3462 10.772 16.4979 10.5115 16.5502 10.2234L17.5002 5H4.37524"
                    stroke="white"
                    stroke-width="1.25"
                    stroke-linecap="round"
                    stroke-linejoin="round" />
                </g>
                <defs>
                  <clipPath id="clip0_11_574">
                    <rect
                      width="20"
                      height="20"
                      fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Header",
    "limit": 1,
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu"
      }
    ],
    "presets": [
      {
        "name": "Header"
      }
    ]
  }
{% endschema %}