{% style %}
  .image-gallery-main {
    {% if section.settings.image != blank %}
      background-image: url('{{ section.settings.image | img_url: 'original' }}');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    {% endif %}
    background-color: {{ section.settings.background_color }};
  }
{% endstyle %}

<div class="image-gallery-main image-gallery-{{ section.id }}">
  <div class="container">
    <div class="image-gallery-inner">
      <div class="image-gallery-header">
        {% if section.settings.title != blank %}
          <h2>{{ section.settings.title }}</h2>
        {% endif %}
      </div>
      <div class="image-gallery-wrapper">
        {% for block in section.blocks %}
          <div class="image-gallery-slider-{{ block.id }} keen-slider">
            {% if block.settings.image != blank %}
              <div class="image-gallery-slide keen-slider__slide " style="min-width: {{ block.settings.width }}px; max-width: {{ block.settings.width }}px;">
                <img
                  loading="lazy"
                  src="{{ block.settings.image |  img_url: 'original' }}"
                  alt=""
                  width="100%"
                  height="100%">
              </div>
            {% endif %}
            {% if block.settings.image_2 != blank %}
              <div class="image-gallery-slide keen-slider__slide " style="min-width: {{ block.settings.width }}px; max-width: {{ block.settings.width }}px;">
                <img
                  loading="lazy"
                  src="{{ block.settings.image_2 |  img_url: 'original' }}"
                  alt=""
                  width="100%"
                  height="100%">
              </div>
            {% endif %}
            {% if block.settings.image_3 != blank %}
              <div class="image-gallery-slide keen-slider__slide" style="min-width: {{ block.settings.width }}px; max-width: {{ block.settings.width }}px;">
                <img
                  loading="lazy"
                  src="{{ block.settings.image_3 |  img_url: 'original' }}"
                  alt=""
                  width="100%"
                  height="100%">
              </div>
            {% endif %}
            {% if block.settings.image_4 != blank %}
              <div class="image-gallery-slide keen-slider__slide" style="min-width: {{ block.settings.width }}px; max-width: {{ block.settings.width }}px; ">
                <img
                  loading="lazy"
                  src="{{ block.settings.image_4 |  img_url: 'original' }}"
                  alt=""
                  width="100%"
                  height="100%">
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<script>
    (function(){
        if (window.matchMedia('(max-width: 767px)').matches) {
        {%  for block in section.blocks %} 
        var slide = new KeenSlider('.image-gallery-{{ section.id }} .image-gallery-slider-{{ block.id }}', {
        slides: {
          perView: 1.8,
          spacing: 15,
        },
      })
        {% endfor %}
    }
    })();
</script>

{% schema %}
  {
    "name": "Image Gallary",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Excited about what’s happening at Kooji?"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background color",
        "default": "#95222e"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background pattern image"
      }
    ],
    "max_blocks": 2,
    "blocks": [
      {
        "name": "Gallery",
        "type": "gallery",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image 1"
          },
          {
            "type": "image_picker",
            "id": "image_2",
            "label": "Image 2"
          },
          {
            "type": "image_picker",
            "id": "image_3",
            "label": "Image 3"
          },
          {
            "type": "image_picker",
            "id": "image_4",
            "label": "Image 4"
          },
          {
            "type": "header",
            "content": "Image dimensions"
          },
          {
            "type": "text",
            "id": "width",
            "label": "width",
            "default": "210"
          },
          {
            "type": "text",
            "id": "height",
            "label": "height",
            "default": "232"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Image gallary",
        "settings": {},
        "blocks": [
          {
            "type": "gallery"
          },
          {
            "type": "gallery"
          }
        ]
      }
    ]
  }
{% endschema %}