{% capture car_icon %}
    <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_11_498)">
    <path d="M5.25697 13.9091C6.16071 13.9091 6.89333 13.1765 6.89333 12.2728C6.89333 11.369 6.16071 10.6364 5.25697 10.6364C4.35323 10.6364 3.62061 11.369 3.62061 12.2728C3.62061 13.1765 4.35323 13.9091 5.25697 13.9091Z" stroke="#21231D" stroke-width="1.09091" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M13.9843 13.9091C14.888 13.9091 15.6206 13.1765 15.6206 12.2728C15.6206 11.369 14.888 10.6364 13.9843 10.6364C13.0805 10.6364 12.3479 11.369 12.3479 12.2728C12.3479 13.1765 13.0805 13.9091 13.9843 13.9091Z" stroke="#21231D" stroke-width="1.09091" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M6.89331 12.2728H12.3479" stroke="#21231D" stroke-width="1.09091" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M15.6205 12.2728H17.2569C17.4016 12.2728 17.5403 12.2153 17.6426 12.113C17.7449 12.0107 17.8024 11.872 17.8024 11.7273V9.00007C17.8024 8.8554 17.7449 8.71666 17.6426 8.61437C17.5403 8.51208 17.4016 8.45461 17.2569 8.45461H15.0751L11.9619 5.34143C11.8597 5.23933 11.7211 5.18195 11.5767 5.18188H3.91236C3.82265 5.18194 3.73434 5.20412 3.65525 5.24646C3.57616 5.2888 3.50874 5.34999 3.45895 5.42461L1.43872 8.45461V11.7273C1.43872 11.872 1.49619 12.0107 1.59848 12.113C1.70077 12.2153 1.83951 12.2728 1.98418 12.2728H3.62054" stroke="#21231D" stroke-width="1.09091" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M15.0751 8.45459H1.43872" stroke="#21231D" stroke-width="1.09091" stroke-linecap="round" stroke-linejoin="round"/>
    </g>
    <defs>
    <clipPath id="clip0_11_498">
    <rect width="17.4545" height="17.4545" fill="#21231D" transform="translate(0.893311 0.272766)"/>
    </clipPath>
    </defs>
    </svg>
{% endcapture %}
{% capture home_icon %}
    <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_58_510)">
<path d="M1.98425 15H17.257" stroke="#21231D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M11.257 15V10.6364H7.98425V15" stroke="#21231D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M3.62061 8.22882V15" stroke="#21231D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M15.6206 15V8.22882" stroke="#21231D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M2.52966 9.31976L9.23466 2.61408C9.28532 2.56336 9.34548 2.52313 9.41169 2.49568C9.47791 2.46823 9.54889 2.4541 9.62057 2.4541C9.69225 2.4541 9.76323 2.46823 9.82945 2.49568C9.89566 2.52313 9.95582 2.56336 10.0065 2.61408L16.7115 9.31976" stroke="#21231D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</g>
<defs>
<clipPath id="clip0_58_510">
<rect width="17.4545" height="17.4545" fill="white" transform="translate(0.893311 0.272705)"/>
</clipPath>
</defs>
</svg>
{% endcapture %}
{% capture person %} 
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_111_71)">
    <path d="M12 6C13.2426 6 14.25 4.99264 14.25 3.75C14.25 2.50736 13.2426 1.5 12 1.5C10.7574 1.5 9.75 2.50736 9.75 3.75C9.75 4.99264 10.7574 6 12 6Z" stroke="#21231D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M13.9847 7.5C14.3039 7.50005 14.6195 7.56804 14.9105 7.69946C15.2014 7.83087 15.4611 8.0227 15.6722 8.26219L19.9209 13.0791C20.0256 13.1837 20.1086 13.3079 20.1652 13.4447C20.2219 13.5814 20.251 13.7279 20.251 13.8759C20.251 14.0239 20.2219 14.1705 20.1652 14.3072C20.1086 14.4439 20.0256 14.5682 19.9209 14.6728C19.8163 14.7775 19.6921 14.8605 19.5553 14.9171C19.4186 14.9737 19.2721 15.0029 19.1241 15.0029C18.9761 15.0029 18.8295 14.9737 18.6928 14.9171C18.5561 14.8605 18.4318 14.7775 18.3272 14.6728L15 12L17.1441 20.1497C17.2651 20.4193 17.2752 20.7258 17.1721 21.0028C17.069 21.2798 16.861 21.5052 16.5931 21.63C16.3252 21.7549 16.0189 21.7694 15.7404 21.6703C15.462 21.5711 15.2337 21.3664 15.105 21.1003L12 15.75L8.895 21.1003C8.76628 21.3664 8.53802 21.5711 8.25956 21.6703C7.98109 21.7694 7.67481 21.7549 7.40691 21.63C7.13901 21.5052 6.93103 21.2798 6.82793 21.0028C6.72483 20.7258 6.73489 20.4193 6.85594 20.1497L9 12L5.67094 14.6709C5.45959 14.8823 5.17295 15.001 4.87406 15.001C4.57518 15.001 4.28853 14.8823 4.07719 14.6709C3.86584 14.4596 3.74711 14.1729 3.74711 13.8741C3.74711 13.5752 3.86584 13.2885 4.07719 13.0772L8.32781 8.26219C8.53892 8.0227 8.79857 7.83087 9.08952 7.69946C9.38047 7.56804 9.69606 7.50005 10.0153 7.5H13.9847Z" stroke="#21231D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    </g>
    <defs>
    <clipPath id="clip0_111_71">
    <rect width="24" height="24" fill="white"/>
    </clipPath>
    </defs>
    </svg>
{% endcapture %}
<div class="redirection-tab-main">
  <div class="container category-page">
    <div class="redirection-tab-buttons-wrapper">
      {% for block in section.blocks %}
        {% if block.settings.button_link != blank %}
          <a href="{{ block.settings.button_link }}" class="redirection-tab-button {% if page.handle == block.settings.handle %} active {% endif %}">
            <span class="tab-icon">
              {% if block.settings.tab_svg == 'carProfile' %}
                {{ car_icon }}
              {% endif %}
              {% if block.settings.tab_svg == 'houseLine' %}
                {{ home_icon }}
              {% endif %}
              {% if block.settings.tab_svg == 'person' %}
                {{ person }}
              {% endif %}
            </span>
            <span class="tab-text mobile">{{ block.settings.tab_heading }}</span>
            <span class="tab-text desktop">{{ block.settings.tab_heading_desktop }}</span>
          </a>
        {% endif %}

      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Category buttons",
    "settings": [],
    "max_blocks": 3,
    "blocks": [
      {
        "name": "Button",
        "type": "button",
        "settings": [
          {
            "type": "text",
            "id": "handle",
            "label": "Handle",
            "default": "car-fragrance"
          },
          {
            "type": "select",
            "id": "tab_svg",
            "label": "Tab Icon",
            "options": [
              {
                "value": "carProfile",
                "label": "Car"
              }, {
                "value": "houseLine",
                "label": "Home"
              }, {
                "value": "person",
                "label": "Person"
              }
            ],
            "default": "carProfile"
          },
          {
            "type": "text",
            "id": "tab_heading",
            "label": "Tab heading",
            "default": "Car"
          },
          {
            "type": "text",
            "id": "tab_heading_desktop",
            "label": "Tab heading desktop",
            "default": "Car Fragrance"
          }, {
            "type": "text",
            "id": "button_text",
            "label": "Heading",
            "default": "Explore All"
          }, {
            "type": "url",
            "id": "button_link",
            "label": "Button link",
            "default": "/collections/all"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Category buttons",
        "settings": {},
        "blocks": [
          {
            "type": "button",
            "settings": {
              "handle": "car-fragrance",
              "tab_svg": "carProfile",
              "tab_heading": "Car",
              "tab_heading_desktop": "Car Fragrance"
            }
          }, {
            "type": "button",
            "settings": {
              "handle": "",
              "tab_svg": "houseLine",
              "tab_heading": "Home",
              "tab_heading_desktop": "Home Fragrance"
            }
          }, {
            "type": "button",
            "settings": {
              "handle": "",
              "tab_svg": "person",
              "tab_heading": "Body",
              "tab_heading_desktop": "Body Fragrance"
            }
          }
        ]
      }
    ]
  }
{% endschema %}